<!DOCTYPE html>
<html>
   <head>
     <title>RushRanker | <%= yield(:title) %></title>
     <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
     <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
     <%= csrf_meta_tags %>
     <%= render 'layouts/shim' %>
   </head>
   <body>
      <%= render 'layouts/header' %>
      <div id="wrap">
        <div class="container-fluid" id="main">
          <div class="row-fluid">
               <% if signed_in? %>
                <div class="span2">
                   <%= render 'layouts/sidebar' %>
                </div>
                <div class="span10">
                   <% flash.each do |key,value| %>
                     <div class="alert alert-<%= key %>"><%= value %></div>
                   <% end %>
                   <%= yield %>
                   <%= debug(params) if Rails.env.development? %>
                </div>
               <% else %>
                <div class="span12">
                   <% flash.each do |key,value| %>
                     <div class="alert alert-<%= key %>"><%= value %></div>
                   <% end %>
                   <%= yield %>
                   <%= debug(params) if Rails.env.development? %>
                </div>
               <% end %>
             <%= render 'layouts/footer' %>
           </div>
        </div>
      </div>
   </body>
</html>
